:root {
    --mdc-theme-primary: #01579b;
    --mdc-theme-accent: #64DD17;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    background-color: #fffffa;
}

.hero {
    background-color: rgba(0, 0, 0, 0.05);
    background-image: url('/img/mdc.svg');
    background-size: cover;
    min-height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    height: 360px;
}

main {
    margin-bottom: 5rem;
}
.texts, .form {
    padding: 1.5rem;
    margin: 0.5rem;
    background-color: white;
}

.form {
    background-color: #f1f8e9;
}

.material-icons {
    padding-right: 1rem;
}

.textfield-wrapper {
    padding: 0 0 0.5rem 0;
}

.mdc-textfield {
    width: calc(50% - 1rem);
    margin-right: 1rem;
}

input.mdc-textfield__input {
    width: 100%;
}

.mdc-toolbar a {
    color: #fffffa;
    text-decoration: none;
}

fieldset {
    padding: 0;
    border: 0;
}

fieldset .mdc-button {
    margin-right: 1rem;
}

footer.page {
    font-family: Roboto, sans-serif;
    position: fixed;
    bottom: 0;
    color: #fffffa;
    background-color: var(--mdc-theme-primary);
    padding: 1rem 0 1rem 2rem;
    width: 100vw;
}
